<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
</head>
<body>
   <form action="/add-new-books/" method="POST">
        <h3>Student Information</h3>
        title<br>
        <input type="text" name="title"><br>
        author<br>
        <textarea name="author"></textarea><br>
        reviews<br>
        <input type="text" name="reviews"><br>
        image<br>
        <input type="text" name="image"><br>
        <input type="submit" value="submit"><br>
    </form>

</body>
</html>
